@font-face {
    font-family: 'swifty';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('swifty'),
         url(../fonts/swifty.woff2) format('woff2'),
         url(../fonts/swifty.woff) format('woff');
}

@font-face {
    font-family: 'tearz';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/tearz.woff2) format('woff2'),
         url(../fonts/tearz.woff) format('woff'),
         url(../fonts/tearz.eot);
}

@font-face {
    font-family: 'Sprykski';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Sprykski.woff2) format('woff2'),
         url(../fonts/Sprykski.woff) format('woff'),
         url(../fonts/Sprykski.eot);
}

@font-face {
    font-family: 'folksa';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/folksa-g.woff2) format('woff2'),
         url(../fonts/folksa-g.woff) format('woff'),
         url(../fonts/folksa-g.eot);
}

@font-face {
    font-family: 'nox';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/nox.woff2) format('woff2'),
         url(../fonts/nox.woff) format('woff'),
         url(../fonts/nox.eot);
}

@font-face {
    font-family: 'pictopeeps';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/pictopeeps.woff2) format('woff2'),
         url(../fonts/pictopeeps.woff) format('woff'),
         url(../fonts/pictopeeps.eot);
}

@font-face {
    font-family: 'sheets-braille';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/sheets-braille.woff2) format('woff2'),
         url(../fonts/sheets-braille.woff) format('woff'),
         url(../fonts/sheets-braille.eot);
}

@font-face {
    font-family: 'braillefont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/braillefont.woff2) format('woff2'),
         url(../fonts/braillefont.woff) format('woff'),
         url(../fonts/braillefont.eot);
}

@font-face {
    font-family: 'zarathustra';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/zarathustra.woff2) format('woff2'),
         url(../fonts/zarathustra.woff) format('woff'),
         url(../fonts/zarathustra.eot);
}
