@font-face {
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Kurale Regular'),
         url(../fonts/Kurale-Regular.otf) format('opentype'),
         url(../fonts/Kurale-Regular.woff2) format('woff2'),
         url(../fonts/Kurale-Regular.woff) format('woff'),
         url(../fonts/Kurale-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Montserrat Regular'),
         local('Montserrat-Regular'),
         url(../fonts/Montserrat-Regular.otf) format('opentype'),
         url(../fonts/Montserrat-Regular.woff2) format('woff2'),
         url(../fonts/Montserrat-Regular.woff) format('woff'),
         url(../fonts/Montserrat-Regular.ttf) format('truetype');
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: local('Montserrat Semibold'),
         local('Montserrat SemiBold'),
         local('Montserrat-Semibold'),
         local('Montserrat-SemiBold'),
         local('Montserrat Semi Bold'),
         local('Montserrat-Semi-Bold'),
         url(../fonts/Montserrat-SemiBold.otf) format('opentype'),
         url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
         url(../fonts/Montserrat-SemiBold.woff) format('woff'),
         url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

html *
{
    font-family: Montserrat, Arial, sans-serif;
}

.block{
    margin-bottom: 48px;
}
.title-wrapper {
    margin-bottom: 120px;
}
.main-title{
    font-family: Kurale, Arial, sans-serif;
    font-size: 120px;
    line-height: 120px;
    margin-top: 48px;
}

.subtitle{
    font-size: 40px;
}

.text{
    font-size: 28px;
    line-height: 40px;
}

.simple-link{
    font-size: 28px;
    line-height: 40px;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.d-main-form {
    height: 37%;
}

.main-btn{
    padding-left: 90px;
    padding-right: 90px;
    height: 100px;
    background-color: #FFCD4D;
    font-size: 40px;
    border-radius: 28px;
    border: 0px solid #FFCD4D;
    color: var(--bs-body-color);
}
.main-btn:hover{
    background-color: #ffc022;
}
.main-btn:visited{
    text-decoration-color: #ffcd4d;
    color: var(--bs-body-color);
}
.main-btn:hover:visited {
    text-decoration-color: #ffc022;
}

.schulte-btn{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 6px;
    height: 100px;
    width: 400px;
    background-color: #FFCD4D;
    font-size: 36px;
    border-radius: 28px;
    border: 0px solid #FFCD4D;
}
.schulte-btn:hover{
    background-color: #ffc022;

}
.schulte-btn:focus-visible, .schulte-btn:focus{
    outline-color: transparent;
}

.text-btn {
    width: 400px;
    background: none;
    border: none;
    text-decoration: dashed underline 1px;
    text-underline-offset: 0.2em;
}

h2{
    font-weight: 600;
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 32px;
}

h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0!important;
}

li{
    padding-bottom: 12px;
}

.text-in-tests {
    font-weight: 600;
    font-size: 44px;
}

#btn-back-to-top {
    position: fixed;
    border-radius: 30px;
    bottom: 20px;
    right: 20px;
    display: none;
}
.footer {
    margin-bottom: 120px;
}


/* .row{
    background-color: rgba(255,0,0,0.1);
}

.col{
    border: 1px solid rgba(0,0,255,0.1);
} */


@media (max-width: 480px) {
    .block{
        margin-bottom: 24px;
    }
    .title-wrapper {
        margin-bottom: 64px;
    }
    .title-wrapper div:first-child {
        order: 2;
    }
    .main-title {
        font-size: 90px;
        line-height: 82px;
        margin-top: 0;
    }
    .subtitle {
        font-size: 40px;
    }
    .text {
        font-size: 22px;
        line-height: 30px;
    }
    .simple-link{
        font-size: 22px;
        line-height: 30px;
    }
    h2{
        font-size: 48px;
        margin-top: 32px;
        margin-bottom: 16px;
    }
    h3{
        font-size: 22px;
        line-height: 30px;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
    .container {
        margin-top: 12px!important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .d-main-form {
        height: 37%;
        min-width: 100%;
    }
    .main-form {
        min-width: 100%;
    }
    .main-btn {
        padding-left: 0;
        padding-right: 0;
        min-width: 100%;
    }
    .d-main-photo {
        margin-bottom: 12px;
    }
    .img-main-photo {
        width: 100%;
    }
    .footer {
        margin-bottom: 60px;
    }
}


@media (max-width: 768px) {
    .title-wrapper div:first-child {
        order: 2;
    }
}

@media (max-width: 992px) {
    .title-wrapper div:first-child {
        order: 2;
    }
}

@media (max-width: 1200px) {
    .title-wrapper div:first-child {
        order: 2;
    }
}