@font-face {
    font-family: 'Kurale';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Kurale Regular'),
         url(../fonts/Kurale-Regular.otf) format('opentype'),
         url(../fonts/Kurale-Regular.woff2) format('woff2'),
         url(../fonts/Kurale-Regular.woff) format('woff'),
         url(../fonts/Kurale-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Montserrat Regular'),
         local('Montserrat-Regular'),
         url(../fonts/Montserrat-Regular.otf) format('opentype'),
         url(../fonts/Montserrat-Regular.woff2) format('woff2'),
         url(../fonts/Montserrat-Regular.woff) format('woff'),
         url(../fonts/Montserrat-Regular.ttf) format('truetype');
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: local('Montserrat Semibold'),
         local('Montserrat SemiBold'),
         local('Montserrat-Semibold'),
         local('Montserrat-SemiBold'),
         local('Montserrat Semi Bold'),
         local('Montserrat-Semi-Bold'),
         url(../fonts/Montserrat-SemiBold.otf) format('opentype'),
         url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
         url(../fonts/Montserrat-SemiBold.woff) format('woff'),
         url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

html *
{
    font-family: Montserrat, Arial, sans-serif;
}

.block{
    margin-bottom: 48px;
}

.main-title{
    font-family: Kurale, Arial, sans-serif;
    font-size: 120px;
    line-height: 120px;
    margin-top: 48px;
}

.subtitle{
    font-size: 40px;
}

.text{
    font-size: 32px;
}

.simple-link{
    font-size: 32px;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.main-btn{
    padding-left: 90px;
    padding-right: 90px;
    height: 100px;
    background-color: #FFCD4D;
    font-size: 40px;
    border-radius: 28px;
    border: 0px solid #FFCD4D;
}
.main-btn:hover{
    background-color: #ffc022;
}

.schulte-btn{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 6px;
    height: 100px;
    width: 400px;
    background-color: #FFCD4D;
    font-size: 36px;
    border-radius: 28px;
    border: 0px solid #FFCD4D;
}
.schulte-btn:hover{
    background-color: #ffc022;
}

.text-btn {
    width: 400px;
    background: none;
    border: none;
    text-decoration: dashed underline 1px;
    text-underline-offset: 0.2em;
}

h2{
    font-weight: 600;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 48px;
}

h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0!important;
}

li{
    padding-bottom: 12px;
}

.text-in-tests {
    font-weight: 600;
    font-size: 44px;
}


/* .row{
    background-color: rgba(255,0,0,0.1);
}

.col{
    border: 1px solid rgba(0,0,255,0.1);
} */

