:root {
    --cell-cursor: default;
    --cell-blur: blur(8px);
    --cell-size: 120px;
    --cell-background-color: #e9e9e9;
    --cell-font-color-gorbov: #ebebeb;
    --cell-blink-color: #63BE63;
    --asterisk-shift-pdt: 20px;
    --all-controls-block-height: 330px;

    /* running point */
    --box-for-dot-size: 608px;
    --dot-size: 48px;

    /* strup */
    --box-for-strup-size: 608px;

    /* koos */
    --cell-size-koos: 140px;
    --cell-overflow-delta: 0px;
 }

@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Montserrat Regular'),
         local('Montserrat-Regular'),
         url(../fonts/Montserrat-Regular.otf) format('opentype'),
         url(../fonts/Montserrat-Regular.woff2) format('woff2'),
         url(../fonts/Montserrat-Regular.woff) format('woff'),
         url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: local('Montserrat Semibold'),
         local('Montserrat SemiBold'),
         local('Montserrat-Semibold'),
         local('Montserrat-SemiBold'),
         local('Montserrat Semi Bold'),
         local('Montserrat-Semi-Bold'),
         url(../fonts/Montserrat-SemiBold.otf) format('opentype'),
         url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
         url(../fonts/Montserrat-SemiBold.woff) format('woff'),
         url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

html * {
    font-family: Montserrat, Arial, sans-serif;
}
.block{
    margin-bottom: 48px;
}

.text{
    font-size: 32px;
}

.text-decoration-thickness-1{
    text-decoration-thickness: 1px;
}

.schulte-btn{
    padding: 0 0 6px;
    height: 100px;
    width: 400px;
    background-color: #FFCD4D;
    font-size: 32px;
    border-radius: 28px;
    border: 0px solid #FFCD4D;
}
.schulte-btn:hover{
    background-color: #ffc022;
}
.schulte-btn:focus{
    outline-color: transparent;
}
.schulte-btn:focus-visible{
    /* background-color: #ffc022;
    outline-color: transparent;
    outline-style: solid; */
    outline-width: 0px;
}

.text-btn{
    width: 400px;
    background: none;
    border: none;
    text-decoration: dashed underline 1px;
    text-underline-offset: 0.2em;
}

h2{
    font-weight: 600;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 48px;
}

h2#exercise_title{
    padding-left: 15px;
}

h3{
    font-weight: 600;
    font-size: 40px;
}

.offcanvas-navbar-width{
    width: 300px!important;
}

.custom-popover-btn{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    --bs-btn-font-size:0.7rem;
    --bs-btn-border-radius:24px;
    --bs-btn-bg:#e0e0e0;
    --bs-btn-border-color:#e0e0e0;
    --bs-btn-color:#000;
    --bs-popover-max-width: 400px;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #c9c9c9;
    --bs-btn-hover-border-color: #c9c9c9;
}

.popover{
    --bs-popover-max-width: 285px;
}
.popover-wide{
    --bs-popover-max-width: 340px;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0!important;
}

li{
    padding-bottom: 12px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, var(--cell-size));
    gap: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.switch-container{
    margin-top: 12px;
    margin-bottom: 24px;
}

.all-switchers-container{
    height: var(--all-controls-block-height);
}

.all-switchers-container-diag{
    margin-bottom: 64px;
}

.results-container{
    margin-top: 12px;
    display: none;
    height: var(--all-controls-block-height);
}

.start-stop-container{
    margin-top: 24px;
    margin-bottom: 24px;
    z-index: 30;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cell-background-color);
    font-weight: 600;
    font-size: 44px;
    filter: var(--cell-blur);
    cursor: var(--cell-cursor);
    transition: background-color 100ms;
    transition-timing-function: ease-in-out;
}

.text-in-tests{
    font-weight: 600;
    font-size: 44px;
}

#help_inline{
    visibility: hidden;
}

#find_number_title, #find_number{
    visibility: hidden;
    font-size: 40px;
}

#exercise_timer{
    z-index: 30;
    visibility: hidden;
    font-size: 36px;
    transition: position 1s ease-out;
    transition: left 1s ease-out;
    transition: top 1s ease-out;
}

#stop_button{
    background-color: transparent;
    border: solid #FFCD4D 3px;
    display: none;
}

#again_button{
    display: none;
}

#show_settings{
    margin-top: 12px;
    margin-bottom: 12px;
    color: #000;
    display: none;
}

#switchers_error{
    visibility: hidden;
    color: rgb(255, 62, 95);
    width: 404px;
    margin-top: 8px;
}

.my-error{
    visibility: hidden;
    color: rgb(255, 62, 95);
}

/*
.row{background-color: rgba(255,0,0,0.1);}
.col{border: 1px solid rgba(0,0,255,0.1);}
*/

.btn-outline-primary{
    --bs-btn-color:#000;
    --bs-btn-border-color:#e0e0e0;
    --bs-btn-active-color:#000;
    --bs-btn-active-bg:#e0e0e0;
    --bs-btn-active-border-color:#e0e0e0;
    font-weight: 600;
    font-size: 16px;
}


/* running dot */
.btn-text-left{
    text-align: start;
}

#box_for_dot,
#koos_pattern{
    position: relative;
    width: var(--box-for-dot-size);
    height: var(--box-for-dot-size);
    border: 1px solid #e0e0e0;
    background-color: #fff;
    transition: width 2s ease-out;
    transition: height 2s ease-out;
    transition: position 2s ease-out;
    transition: left 2s ease-out;
    transition: top 2s ease-out;
    z-index: 20;
}

#running_dot{
    position: absolute;
    background-color: red;
    top: 0px;
    left: 0px;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: calc(var(--dot-size)/2);
}

#box_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: none;
    transition: position 1s ease-out;
}

#draw_line{
    width: 608px;
    height: 608px;
}

.moving-dot-down{
    -moz-transform: translate(50, 50); /* Для Firefox */
    -ms-transform: translate(50, 50); /* Для IE */
    -webkit-transform: translate(50, 50); /* Для Safari, Chrome, iOS */
    -o-transform: translate(50, 50); /* Для Opera */
    transform: translate(50, 50);
}

.moving-dot-up{
    -moz-transform: translate(-50, -50); /* Для Firefox */
    -ms-transform: translate(-50, -50); /* Для IE */
    -webkit-transform: translate(-50, -50); /* Для Safari, Chrome, iOS */
    -o-transform: translate(-50, -50); /* Для Opera */
    transform: translate(-50, -50);
}

.temp-dots{
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#input_velocity:invalid,
#start_symbol:invalid,
#mult_red:invalid,
#mult_black:invalid,
#minimal_value:invalid,
#maximum_value:invalid{
    background-color: lightpink;
}

#fullscreen_text_container{
    cursor: pointer;
}

#fullscreen_checkbox{
    padding: 10px;
}

#fullscreen_checkbox:hover{
    cursor: pointer;
}

button[name="btn-change-velocity"]{
    border-color: #e0e0e0;
}
button[name="btn-change-velocity"]:hover{
    border-color: var(--bs-btn-hover-bg);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus{
    appearance: none;
    -moz-appearance: textfield;
}

#strup_box,
#exercise_box{
    position: relative;
    width: var(--box-for-strup-size);
    height: var(--box-for-strup-size);
    border: 1px solid #e0e0e0;
    background-color: #fff;
    transition: width 2s ease-out;
    transition: height 2s ease-out;
    transition: position 2s ease-out;
    transition: left 2s ease-out;
    transition: top 2s ease-out;
    z-index: 20;
}

#strup_word{
    position: absolute;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    z-index: 30;
    display: none;
    transition: position 1s ease-out;
}

#strup_attention{
    position: absolute;
    font-size: 60px;
    line-height: 28px;
    font-weight: 800;
    z-index: 20;
    display: none;
    text-align: center;
    left: 0px;
    top: 0px;
    height: 70px;
    width: 220px;
    background-color: #24153D;
    color: #EBADF5;
    /* transition: background-color 0.9s ease, color 0.9s ease; */
}

.strup-title-word{
    font-weight: 600;
    font-size:32px;
    line-height:32px;
    width: fit-content;
    border-radius: 16px;
    color: white;
}

.btn-close:focus{
    box-shadow: unset;
}

/* koos */
.grid-border{
    border: 1px none #e0e0e0;
    width: fit-content;
}
.koos-cell-container{
    width: calc(var(--cell-size-koos));
    height: calc(var(--cell-size-koos));
    overflow: hidden;
}

.koos-cell-empty{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #414141;
}

.koos-cell-white{
    width: calc(var(--cell-size-koos) - var(--cell-overflow-delta));
	height: calc(var(--cell-size-koos) - var(--cell-overflow-delta));
	background-color: white;
}

.koos-cell-red{
    width: calc(var(--cell-size-koos) - var(--cell-overflow-delta));
	height: calc(var(--cell-size-koos) - var(--cell-overflow-delta));
	background-color: #C10000;
}

.koos-cell-topleft{
    width: 0;
	height: 0;
	border-top: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid #C10000;
    border-right: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid white;
}

.koos-cell-topright{
	width: 0;
	height: 0;
	border-top: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid #C10000;
	border-left: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid white;
}

.koos-cell-bottomright{
	width: 0;
	height: 0;
	border-bottom: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid #C10000;
	border-left: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid white;
}

.koos-cell-bottomleft{
	width: 0;
	height: 0;
	border-bottom: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid #C10000;
	border-right: calc(var(--cell-size-koos) - var(--cell-overflow-delta)) solid white;
}

.koos-solvation-container{
    display: none;
}

.koos-grid{
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size-koos));
    gap: 0px;
}
.koos-grid-free-cubes{
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size-koos));
    gap: 2px;
    width: fit-content;
}

.btn-group.koos input[type="radio"]:not(:checked) + label{
    background-color: rgba(224, 224, 224, 0.3);
}

.draggable{z-index: 1000;}

#free_cubes_container{display: none;}

#result_container{display: none;}

.my-ps-3{padding-left:.75rem!important;}
.my-pe-3{padding-right:.75rem!important;}
.my-px-sm{padding-left:.1rem!important;padding-right:.1rem!important;}
.my-ps-8px{padding-left: 8px;}
.my-ps-12px{padding-left: 12px;}

/* cypher */
#clear_text:hover{color: black !important;}
#clear_text:active{color: rgba(0, 0, 0, 0.7) !important;}
#clear_text:focus-visible {color: black !important;}

.table-border>tbody>tr>td{
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#flying_block_with_symbols{
    position: absolute;
    width: fit-content;
    border-radius: 24px;
    overflow: hidden;
    color:antiquewhite;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
}



.desktop {
    display: block;
}
.mobile_plug {
    display: none;
}
@media (max-width: 576px) {
    .mobile_plug {
        display: flex !important;
        margin-left: 16px;
        height: 90vh;
    }
    .desktop {
        display: none;
    }
    .mobile_plug > h2 {
        font-size: 48px;
        line-height: 56px;
        margin-top: 0;
    }
}

.mental{
    background-image: url('../img/mental_cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px; /* обязательно указать высоту */
    width: 608px;
}

.alhabet{
    background-image: url('../img/alphabet_cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px; /* обязательно указать высоту */
    width: 608px;

}

.reading{
    background-image: url('../img/reading_cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 608px; /* обязательно указать высоту */
    width: 608px;

}

#exercise_ended{
    visibility: hidden;
    display: none;
    transform: translate(-50%, -65%) !important;
}
.exercise-div{
    background-color: #D31ACA;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    width: fit-content;
    border-radius: 16px;
    color: antiquewhite;
}


.nav-btns-reading {
    cursor: pointer;
}
.nav-btns-reading path {
    fill: #FFCD4E;
}
.nav-btns-reading:hover path{
    fill: #ffc022;
}